<?xml version="1.0" encoding="UTF-8"?>
<settings

nameText="alp1ne developement"
taglineText="access error"
mainText="site under construction"

useOwnLogo="false"
logoFilePath="logo.png"

nameColor="0xffffff"
taglineColor="0xffffff"
mainColor="0xffffff"
linkColor="0xffffff"
linkRollOverColor="0xff4400"
linkRollOverBlurAmount="5"

backgroundColor="0x000000"
backgroundGradientColor1="0xff4400"
backgroundGradientColor2="0x000000"
backgroundGradientAlphaPercent="40"

borderColor="0xffffff"
borderThickness="10"

ownLogoXOffset="3"
taglineXOffset="2"
taglineYOffset="-9"
mainXOffset="-2"
linkXOffset="2"

introBlurAmount="20"
siteRotation="0"

>

<link text="VISIT MY GITHUB" url="https://github.com/alp1ne" />
<link text="" url="http://www.warmforestflash.com/" target="_blank" />
<link text="VISIT ME ON LINKEDIN" url="http://www.warmforestflash.com/" target="_blank" />
	
</settings>